<% if signed_in? %>
  <div>
    <dl>
      <dt>Email</dt>
      <dd><%= current_user.email %> </dd>

      <dt>Domain</dt>
      <dd><%= current_user.domain %> </dd>

      <dt>Company</dt>
      <dd><%= current_user.company.name %> </dd>
    </dl>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <div>
    <%= link_to 'Sign in', new_user_session_path %>
  </div>
<% end %>